body {
    height:190vh;
    width: 50vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,rgb(38,40,74)50%,rgb(32,29,29)100%);
    font-family: 'Roboto', sans-serif;
  }
  .photo{
    position: relative;
    top: 40px;
    left: 60px;
    height: auto;
    width: 90px;
  }
  .header{
    position: relative;
    top: 100px;
    left: 65px;
    font-size: 20px;
    color: white;
}
.FIO{
    position: relative;
    top: 100px;
    left: 65px;
    font-size: 12px;
    color: white;
}
  .collection {
    padding: 50px;
    color: white;
  }
  
  .collection h1 {
    position: relative;
    left:-710px;
    text-align: center;
    font-size: 64px;
    margin-bottom: 30px;
  }
  
  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .car-item {
    margin-left: -200px;
    position: relative;
    left:200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание текста по левому краю */
    background-color: #1e1e2e;
    padding: 20px; /* Сделано меньше для удобной настройки */
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: fit-content; /* Позволяет регулировать размер */
  }
  
  .car-item img {
    width: 100%; /* Пропорционально контейнеру */
    height: auto; /* Сохраняет пропорции изображения */
    border-radius: 10px;
    margin-bottom: 20px; /* Регулируйте отступ */
  }
  
  .car-item h3 {
    margin: 5px 0; /* Минимальные отступы между текстом */
  }
  .car-item p{
  font-size: 30px;
  margin: 5px 0 ;
  }
  .car-item:hover {
    background-color: #2a2a3a;
  }
  
  .car-item1 {
    margin-left: -200px;
    position: relative;
    top:-460px;
    left:1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Выравнивание текста по левому краю */
    background-color: #1e1e2e;
    padding: 20px; /* Сделано меньше для удобной настройки */
    border-radius: 10px;
    text-decoration: none;
    color: white;
    width: fit-content; /* Позволяет регулировать размер */
  }
  
  .car-item1 img {
    width: 100%; /* Пропорционально контейнеру */
    height: auto; /* Сохраняет пропорции изображения */
    border-radius: 10px;
    margin-bottom: 20px; /* Регулируйте отступ */
  }
  
  .car-item1 h3 {
    margin: 5px 0; /* Минимальные отступы между текстом */
  }
  .car-item1 p{
  font-size: 30px;
  margin: 5px 0 ;
  }
  .car-item1:hover {
    background-color: #2a2a3a;
  }
  .back{
    width: 100px;
    height: 45px;
    padding: 10px;
    border-radius: 17px; /* Скругленные углы */
    background-color: #59596E; /* Цвет кнопки, близкий к изображению */
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; /* Шрифт Roboto */
    letter-spacing: 0em; /* Межбуквенное расстояние (10% вместо 20%) */
    border: none; /* Убираем стандартные границы */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 970px;
    left: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Тень для создания глубины */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */
}
.back:hover{
    background-color:#59596E;
}
.text{
    position: relative;
    left:700px;
    top:-480px;
    margin:30px 0;
    color:white;
  }
  .text1{
    position: relative;
    left:930px;
    top:-823px;
    margin:30px 0;
    color:#E9E9E9;
  }
  .buy{
    width: 250px;
    height: 30px;
    padding: 10px;
    letter-spacing: 100px;
    border-radius: 17px; /* Скругленные углы */
    background-color: #59596E; /* Цвет кнопки, близкий к изображению */
    color: #FFFFFF;
    font-size: 16x;
    font-family: 'Roboto', sans-serif; /* Шрифт Roboto */
    letter-spacing: 0em; /* Межбуквенное расстояние (10% вместо 20%) */
    border: none; /* Убираем стандартные границы */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 900px;
    left: 700px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Тень для создания глубины */
    transition: background-color 0.3s ease; /* Плавный переход при наведении */

  }
  .footer {
    position: absolute;
    left: -250px;
    bottom: -890px;
    height: 370px;
    width: 120%;
    background-color: #25252B;
    color: white;
}
.information {
  padding-left: 20%; /* Добавляет отступ внутри элемента */
  margin-top: 65px;
  font-size: 20px;
  color: white;
}

.Main, .Coll, .Cont, .Prof {
  display: block; /* Делает ссылки блочными */
  margin-top: 30px;
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 18px; /* Размер текста ссылки */
  color: #ffffff; /* Цвет текста */
}

.Main:hover, .Coll:hover, .Cont:hover, .Prof:hover {
  color: #d4d4d4; /* Цвет ссылки при наведении */
}
.Contact{
  padding-left: 45%; /* Добавляет отступ внутри элемента */
  margin-top: -254px;
  font-size: 20px;
  color: white;
}
.Location, .Ph, .Conta{
  display: block; /* Делает ссылки блочными */
  margin-top: 30px;
  text-decoration: none; /* Убираем подчеркивание */
  font-size: 18px; /* Размер текста ссылки */
  color: #ffffff; /* Цвет текста */

}
.Social{
  padding-left: 80%; /* Добавляет отступ внутри элемента */
  margin-top: -245px;
  font-size: 20px;
  color: white;
}
.Facebook{
  padding-left: 15%;
}


