body {
    height: 230vh;
    width: 50vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom,rgb(38,40,74)50%,rgb(32,29,29)100%);
    font-family: 'Roboto', sans-serif;
  }
    .menu {
      position: absolute;
      top: 50px;
      left: 70%;
      transform: translateX(-50%);
      padding: 20px;
    }
    
    .menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; /* Горизонтальное расположение элементов меню */
      gap: 50px;
    }
    
    .menu li {
      display: inline-block;
    }
    
    .menu a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      letter-spacing: 2px;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    .menu a:hover {
      color: #d4d4d4;
    }
    
    /* Убедимся, что ЛИЧНЫЙ КАБИНЕТ ведёт себя как другие элементы */
    #profileLink {
      display: inline-block;
      white-space: nowrap;
    }
    .photo{
      position: relative;
      top: 40px;
      left: 60px;
      height: auto;
      width: 90px;
    }
    .collection {
      padding: 50px;
      color: white;
  }
  
  .collection h1 {
      font-size: 36px;
      margin-bottom: 30px;
      margin-left: -650px; /* Выровнять по левому краю изображения Modestium Motors */
  }
  
  .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Выровнять фотографии по левому краю */
      margin-left: -650px; /* Выровнять по левому краю заголовка */
  }
  
  .mainphoto {
      max-height: 900px;
      margin-bottom: 20px;
  }
  
  
  .additional-photo {
    position: relative;
    top:30px;
      max-height: 300px;
      width: auto;
  }
  .additional-photo2 {
    position: relative;
    top:30px;
    left:60px;
    max-height: 300px;
    width: auto;
}
.additional-photo3 {
  position: relative;
    top:300px;
    left:-630px;
  max-height: 300px;
  width: auto;
}
.additional-photo4 {
  position: relative;
    top:300px;
    left:-560px;
  max-height: 600px;
  
}
.text{
  position: relative;
  left:200px;
  top:-780px;
  margin:30px 0;
  color:white;
}
.text1{
  position: relative;
  left:500px;
  top:-1123px;
  margin:30px 0;
  color:#E9E9E9;
}
.button{
  position: relative;
  top:-1050px;
  left:200px;
  height: 80px;
  width: 200px;
  border-radius: 35px;
 background-color:#B95000;
}
.button p{
  font-weight: bold;
  font-size: 23px;
  color:white;
}
.button:hover {
  background-color: #994500; /* Цвет при наведении */
}

.footer {
    position: fixed;
    left: -700px;
    bottom: -50px;
    height: 410px;
    width: 210%;
    background-color: #25252B;
    color: white;
}

.information {
    padding-left: 20%; /* Добавляет отступ внутри элемента */
    margin-top: 65px;
    font-size: 20px;
    color: white;
}

.Main, .Coll, .Cont, .Prof {
    display: block; /* Делает ссылки блочными */
    margin-top: 30px;
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 20px; /* Размер текста ссылки */
    color: #ffffff; /* Цвет текста */
}

.Main:hover, .Coll:hover, .Cont:hover, .Prof:hover {
    color: #d4d4d4; /* Цвет ссылки при наведении */
}

.Contact {
    padding-left: 45%; /* Добавляет отступ внутри элемента */
    margin-top: -254px;
    font-size: 20px;
    color: white;
}

.Location, .Ph, .Conta {
    display: block; /* Делает ссылки блочными */
    margin-top: 30px;
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 18px; /* Размер текста ссылки */
    color: #ffffff; /* Цвет текста */
}

.Social {
    padding-left: 80%; /* Добавляет отступ внутри элемента */
    margin-top: -245px;
    font-size: 20px;
    color: white;
}

.Facebook{
  padding-left: 15%;
}